.history-table {
    border-spacing: 20px;
}

.history-col {
    padding: 8px 20px;
    margin: 10px 50px;
    text-align: center;
}

tr {
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.61);
}


td {
    padding: 8px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}